{% extends "ASFDocumentBundle::layout.html.twig" %}

{% trans_default_domain 'asf_doc' %}

{% block title %}{{ 'Document Manager'|trans }}{% endblock %}

{% block asf_doc_content %}
	<p>{{ 'asf_doc_intro'|trans }}</p>
{% endblock %}